@page "/Rooms/EditRoom/{Id}"
@attribute [Authorize(Roles = "infra")]

@inject IStringLocalizer<App> Localization

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@using OJTTraining.Data
@using OJTTraining.Service
@inject RoomService roomService
@inject NavigationManager NavigationManager

<h2>@Localization["Update Room"]</h2>
<hr />

<EditForm Model="obj" OnValidSubmit="UpdateRoom">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="RoomNumber">@Localization["Room Number"]<span style="color : red;">@Localization["*"]</span>@Localization[":"]</label>
        <InputText id="RoomNumber" @bind-Value="obj.RoomNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label for="RoomCapacity">@Localization["Room Capacity"]<span style="color : red;">@Localization["*"]</span>@Localization[":"]</label>
        <InputNumber id="RoomCapacity" @bind-Value="obj.RoomCapacity" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">@Localization["Update"]</button>
    <button class="btn btn-secondary" @onclick="Cancel" type="button">@Localization["Cancel"]</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    Room obj = new Room();

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => roomService.GetRoomAsync(Id));

        if (obj == null)
        {
            NavigationManager.NavigateTo("404");
        }
    }

    protected async void UpdateRoom()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        obj.UpdateDateTime = DateTime.Now;
        obj.UpdatePIC = user.Identity.Name;

        await roomService.UpdateRoomAsync(obj);
        NavigationManager.NavigateTo("Rooms");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Rooms");
    }
}